<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAUkKfjvzLGr-LyJNOVxR52dghHxAx7nL8</string>
	<key>GCM_SENDER_ID</key>
	<string>54847535424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CompanyFontsi.LoginViewCode</string>
	<key>PROJECT_ID</key>
	<string>login-app---viewcode</string>
	<key>STORAGE_BUCKET</key>
	<string>login-app---viewcode.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54847535424:ios:eb99d8c2de2b7b31c462a5</string>
</dict>
</plist>